@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #F8F8F8;
    font-family: 'Roboto', sans-serif;
}
section.chat__section {
    width: 800px;
    max-width: 90%;
    background: #fff;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.brand {
    padding: 20px;
    background: #f1f1f1;
    display: flex;
    align-items: center;
}
.brand h1 {
    text-transform: uppercase;
    font-size: 20px;
    color: #444;
    margin-left: 10px;
}
.message__area{
    height: 500px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-top: 40px;
}
form{
  display:flex;
  gap:0.5rem;
  padding:1rem;
}
form button{
  height: fit-content;
  padding: 1rem 2rem;
  border:none;
  outline: 2px solid #8F8BE8;
  color: #000;
  border-radius:6px;
  cursor:pointer;
  transition: background 0.2s ease-in-out;
  background-color:#fff;
}
form button:focus{
  color: #fff;
  background-color: #8F8BE8;
}
input {
    width: 100%;
    border: none;
    padding: 20px;
    font-size: 16px;
    background: #FBFBFB;
    border-radius:6px;
    transition: box-shadow 0.2s ease-in-out;
}
input:hover{
  box-shadow:1px 1px 5px rgba(0, 0, 0, 0.2);
}
form button:focus, input:focus{
  outline: 2px solid #8F8BE8;
}

.message {
    padding: 20px; 
    border-radius: 4px; 
    margin-bottom: 40px;
    max-width: 300px;
    position: relative;
}

@keyframes messageIncoming{
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}

.incoming {
    background: #8F8BE8;
    color: #fff;  
    animation: messageIncoming 0.3s ease-in-out 1;
    border-bottom-left-radius: 0;
}

.incoming h4{
    left: 0;
}
.outgoing {
    background: #e9eafd;
    color: #787986;
    margin-left: auto;
    animation: messageIncoming 0.3s ease-in-out 1;
    border-bottom-right-radius:0;
}
.outgoing h4{
    right: 0;
}
.incoming::before, .outgoing::after{
    content: "";
    position: absolute;
}
.incoming::before{
    left: 0;
    border-left: none;
    border-right: 5px solid transparent;
    border-top: 4px solid #8F8BE8;
    bottom: -4px;
}
.outgoing::after{
    right: 0;
    border-right: none;
    border-left: 5px solid transparent;
    border-top: 4px solid #e9eafd;
    bottom: -4px;
}
.message h4 {
    position: absolute;
    top: -20px;
    color: #333;
    font-size: 14px;
}
.message p{
  width: 100%;
  overflow-x: hidden;
  word-wrap:break-word;
}
